.logo {
    
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28/24);

    letter-spacing: 0.03em;

    color: var(--selection-color);
    transition: color var(--transition-func);

    &:focus {
        color: var(--selection-color);
    }
    @include tablet {
        // margin-right: 87px;
        .logo:hover {
            color: var(--selection-color);
        }
    }

    @include desktop {
    // margin-right: 93px;
    font-size: 26px;
    line-height: 1.1923;
    }
}

.logo__header {
    color: #000000;
    transition: color var(--transition-func);

    &:focus {
        color: var(--selection-color);
    }

    @include tablet {
        margin-right: 87px;
        &:hover {
        color: var(--selection-color);
    }
    }

    @include desktop {
        margin-right: 92px;
    }
}

.logo-footer {
    color: var(--color-white);
}