.footer {
    background-color: var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.container-footer {
    display: flex;
    text-align: center;

    @include desktop{
    align-items: baseline;
    }
    
}

.address-list {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    font-style: normal;

    @include mobile {
        margin-bottom: 60px;
    }
}

.address-item:not(:last-child) {
    margin-bottom: 9px;
}

.address-link {
    color: var(--footer-rgba);
    transition: color var(--transition-func);
    &:hover,
    &:focus {
        color: var(--selection-color);
    }
}

.location {
    color: var(--color-white);
}

.contact-us-block {
    display: block;
    color: var(--color-white);

    @include desktop {
        margin-left: auto;
    }
}

.contact-us-text {
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.contact-us-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contact-us-item {
    width: 44px;
    height: 44px;
}

.contact-us-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--color-white);
    transition: background-color var(--transition-func);

    &:hover,
    &:focus {
        background-color: var(--selection-color);
    }
}

.contact-us-icon {
    fill: currentColor;
}

.footer-form {
    display: flex;
    flex-wrap: wrap;
}

.footer-input {
    height: 50px;
    min-width: 358px;

    padding: 15px 16px;
    color: var(--color-white);
    background-color: var(--background-color);
    border: 1px solid var(--footer-input-border);
    border-radius: 4px;
    outline: transparent;
    transition: border-color var(--transition-func);

    &::placeholder {
        font-size: 16px;
        line-height: calc(20/16);
        letter-spacing: 0.03em;
        color: var(--footer-rgba);
    }
    &:hover,
    &:focus {
        border-color: var(--selection-color);
    }
}

.footer-form-button {
    display: inline-block;
    min-width: 200px;
    height: 50px;
    padding: 10px 28px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    margin-left: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.06em;
    border: none;

    color: var(--color-white);
    background-color: var(--selection-color);
    border-radius: 4px;
    transition: background-color var(--transition-func);

    &:hover,
    &:focus,
    &:active {
        background-color: var(--active-button);
    }
}

.footer-form-icon {
    margin-left: 10px;
    text-align: center;
    justify-content: center;
}