.header {
    border-bottom: 1px solid var(--border-line);
}

.header__container {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.nav-container {
    display: flex;
    width: 100%;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1429;
    letter-spacing: 0.02em;
}

.menu {
    display: flex;
    gap: 50px;
}

.menu__link {
    position: relative;
    display: block;
    padding: 32px 0;
    color: var(--color-black);
    transition: color var(--transition-func);
    &:hover,
    &:focus {
        color: var(--selection-color);
    }
    &.current {
        color: var(--selection-color);
    }
}
.contacts {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: auto;
    gap: 50px;
}
.contacts__link {
    display: flex;
    align-items: center;
    color: var(--color-grey);
    transition: color var(--transition-func);
    &:hover,
    &:focus {
        color: var(--selection-color);
    }
}

.contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}

.current::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;

    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: var(--selection-color);
}