.portfolio-list-btn {
    padding: 6px 22px;
    border-radius: 4px;
    border: transparent;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-black);
    background: var(--background-grey);
    cursor: pointer;
    transition: color var(--transition-func),
        background-color var(--transition-func),
        box-shadow var(--transition-func),
        border-radius var(--transition-func);
    &:hover,
    &:focus {
        color: var(--color-white);
        background-color: var(--selection-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        }
}

.portfolio-subtitle {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--color-black);

}

.portfolio-text {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--color-grey);
}

.portfolio-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.gallery-list .item {
    width: calc((100% - 60px)/3);
}

.gallery-overlay {
    position: relative;
    overflow: hidden;
}

.gallery-popping-text {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);

    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    align-items: center;

    width: 100%;
    height: 100%;
    padding-right: 24px;
    padding-left: 24px;

    font-size: 18px;
    line-height: calc(28/18);
    letter-spacing: 0.03em;
    color: var(--color-white);
    background-color: var(--popping-layout);

    transition: transform var(--transition-func);
    overflow: auto;

    .gallery-link:hover &,
    .gallery-link:focus & {
        transform: translateY(0);
        }
}

.gallery-link {
    display: block;
    transition: box-shadow var(--transition-func);
    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}

.card {
    padding: 20px 24px;
    border-bottom: 1px solid var(--portfolio-border);
    border-left: 1px solid var(--portfolio-border);
    border-right: 1px solid var(--portfolio-border);
}